/*eslint "linebreak-style": ["error", "windows"]*/
{
  "parser": "babel-eslint",
  "linebreak-style": [
    "error",
    "windows"
  ],
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-use-before-define": 0,
    "lines-between-class-members": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "document": true,
    "Event": true
  }
}