@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');

html,
body,
.root,
.app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ff9999;
  font-family: 'Anonymous Pro', monospace;
}

.rebus {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rebus__state {
  position: absolute;
  top: 25px;
  left: 25px;
  display: block;
}

.rebus__state__score {
  font-size: 24px;
  color: #fff;
  display: block;
}

.rebus__state__current {
  margin-top: 10px;
  font-size: 14px;
  color: #484848;
  display: block;
}

.rebus__text {
  font-size: 3em;
  color: #484848;
}

.rebus__input {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
  font-size: 18px;
  border: 1px solid #484848;
  background: none;
  min-width: 25%;
}

.rebus__input:hover,
.rebus__input:active,
.rebus__input:focus {
  border: 1px solid #d3d3d3;
}

.rebus__input--answered {
  background: green;
}

.rebus__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #fff;
}

.button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Anonymous Pro', monospace;
  margin: 20px 40px;
}

.button:hover,
.button:active,
.button:focus {
  color: #d3d3d3;
}

.button--try {
  font-weight: 700;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.flash--success {
  -webkit-animation-name: flash-success-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: flash-success-animation;
  animation-duration: 0.5s;
}

.flash--fail {
  -webkit-animation-name: flash-fail-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: flash-fail-animation;
  animation-duration: 0.5s;
}

@-webkit-keyframes flash-success-animation {
  from {
    background: green;
  }
  to {
    background: default;
  }
}

@keyframes flash-success-animation {
  from {
    background: green;
  }
  to {
    background: default;
  }
}

@-webkit-keyframes flash-fail-animation {
  from {
    background: red;
  }
  to {
    background: default;
  }
}

@keyframes flash-fail-animation {
  from {
    background: red;
  }
  to {
    background: default;
  }
}
