@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
body,
.root,
.particles,
.app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

*:focus {
  outline: 0;
}

.particles canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

.particles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
.root {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.app {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-column-gap: 30px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rebus {
  background-color: #1542e642;
  grid-column-start: 3;
  align-self: center;
  grid-row-start: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 40px auto;
  grid-row-gap: 30px;
  padding-bottom: 20px;
}

.rebus:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rebus--answered {
  background-color: #26bd88b0;
}

.rebus__header {
  background-color: #1d1d1d1a;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.rebus__symbols {
  align-self: center;
  justify-self: center;
  font-size: 3em;
  text-align: center;
  padding: 0 20px;
}

.rebus__words {
  padding: 0 20px;
}

.rebus__hint {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 3;
}

.word {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word__char {
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.word__char:not(:placeholder-shown) {
  background-color: #0000004d;
}

.word__char:active,
.word__char:focus {
  background-color: #0000001f;
}

.change-button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  align-self: center;
  justify-self: flex-start;
}

.change-button svg {
  height: 36px;
}

.change-button path {
  fill: #fff;
}

.change-button:hover path,
.change-button:active path,
.change-button:focus path {
  fill: rgba(239, 190, 7, 0.8);
}

.change-button--prev {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: flex-end;
}

.change-button--next {
  transform: rotate(180deg);
  grid-column-start: 4;
  grid-row-start: 2;
}

.confetti-canon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.progress-bar {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  border: none;
  background: #9c0629;
}

progress[value] {
  width: auto;
  height: 20px;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #9c0629;
}

progress[value]::-moz-progress-bar {
  background-color: #438365;
}

progress[value]::-webkit-progress-value {
  background-color: #438365;
}

/* ----------------------------------------------
 * GitHub Corners
 * w: https://github.com/tholman/github-corners
 * ---------------------------------------------- */

.github-corner {
  fill: #951e89;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .change-button--prev {
    grid-column-start: 1;
  }
  .change-button--next {
    grid-column-start: 5;
  }
  .rebus {
    grid-column-start: 2;
    grid-column-end: span 3;
  }
  .word {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
  }
  .word__char {
    width: auto;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
  .app {
    grid-template-rows: 1fr 8fr 2fr;
  }
  .github-corner {
    display: none;
  }
  .change-button {
    grid-row-start: 3;
  }
  .rebus {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 5;
    border-radius: 0;
  }
  .rebus__header {
    border-radius: 0;
  }
  .word {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
  }
  .word__char {
    width: auto;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-2 9:2:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.animation--flip-vertical-right {
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.animation--flip-vertical-left {
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.animation--shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@keyframes flip-vertical-right {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */
@keyframes flip-vertical-left {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
